.container {
  display: grid;
  width: 500px;
  height: 400px;
  margin: 100px auto 0;
  background: gray;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
}

.item {
  border: 5px solid red;
}

